/*Carousel*/
#carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

#carousel-images {
  display: flex;
  width: 100%;
}

#carousel-images .carousel-image {
  min-width: 100%;
  height: auto;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 1vw 2vw;
  font-size: 2vw;
  cursor: pointer;
  z-index: 10;
}

#prev-button {
  left: 2vw;
}

#next-button {
  right: 2vw;
}

/*Navbar*/
#navbar {
  #navbar {
    background-color: #333;
    padding: 2vh 5vw;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }}

body {
  padding-top: 6vh;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

#navbar li {
  margin-right: 20px;
}

#navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#navbar a:hover {
  color: #7f8ec0;
}


/*About Me*/

#about-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}

body {
  margin-top: 0;
  padding-top: 0;
}

#about-container img {
  width: 37.5vw;
  height: auto;
  border-radius: 8px;
  border: 2px solid #333;
}

#about-container p {
  font-size: 1.6vw;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#about-text-container h1 {
  background-color: #333;
  color: white;
  padding: 1vh 2vw;
  margin: 0;
}

/*Projects List*/

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  gap: 2vh;
  width: 100%;
}

.project {
  width: 90vw;
  margin: 2vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #333;
  border-radius: 8px;
  text-align: left;
  padding: 2vw;
}

.project .description {
  width: 40%;
  padding-right: 2vw;
}

.project .description h2 {
  font-size: 3vw;
  margin-bottom: 1vh;
}

.project .description p {
  font-size: 1.5vw;
}

#projects .projimg {
  width: 50%;
  height: 30vw;
  overflow: hidden;
}

#projects .projimg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#projects a {
  text-decoration: none;
  color: inherit;
}

#projects a:hover {
  color: #333;
}

#projects a:focus,
#projects a:active {
  color: inherit;
}