/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: white;
}

/* STICKY HEADER */
.top-bar {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background-color: #8AA686;
  border-bottom: 1px solid #8AA686;

  z-index: 1000;
}

/* TITLE */
.logo {
  font-family: "cofo-glassier", sans-serif;
  font-size: 4rem;
}

/* NAVIGATION */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-family: "itc-franklin-gothic-lt-pro", sans-serif;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #1B261E;
}

/* PAGE SECTIONS */
section {
  min-height: 100vh;
  padding: 100px 40px;
}